html, body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #000000;
}

/********************************************************************
Sliders
********************************************************************/
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #DDDDDD;
}

input[type=range]:focus {
    outline: none;
}

/********************************************************************
Volume Control
********************************************************************/
#volumeControl {
  position: fixed;
  padding-top: 25px;
  margin-left: -20px;
}

#volumeslider {
  -webkit-transform: rotate(-90deg);
  width: 100px;
  height: 2px;
  margin-top: 60px;
  opacity: 0;
}

#volumepic {
  width: 15px;
  height: 15px;
  margin: auto;
  display: block;
}

/********************************************************************
Visualization Controls
********************************************************************/
#pulseToggle {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0;
}

/********************************************************************
Audio Controls
********************************************************************/
#audio-controls {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#pause_play {
  width: 30px;
  height: 30px;
  float: left;
}

#audio-title {
  margin-left: 40px;
  margin-top: 5px;
  width: 800px;
}

#timeControl {
  opacity: 0;
  color: #F0F0F0;
  clear: both;
  padding-top: 5px;
}

#seekbar {
  width: 250px;
  height: 2px;
  vertical-align: middle;
}

/********************************************************************
Audio Sources
********************************************************************/
#local-file {
  width: 0.1px;
	height: 0.1px;
	overflow: hidden;
}

#file-button {
  float: left;
  padding: 6px;
}

#file-button:hover {
  text-decoration: underline;
}

#soundcloud-url {
  width: 200px;
  background-color: rgba(0,0,0,0);
  color: #FFFFFF;
  font-size: 17px;
  border-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,0);
  float: left;
  padding: 6px;
}

#soundcloud-url:focus {
  outline: none;
  border-bottom-color: white;
}

#mic_toggle {
  width: 25px;
  height: 25px;
  float: left;
  padding: 5px;
}

#audio-input {
  opacity: 1;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
