html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-weight: 100;
  color: #FFF;
}

#fileInput {
  position: absolute;
}

#canvas {
  position: absolute;
  top: 10%;
}

#controls {
  position: absolute;
  top: 5%;
}

#volumeslider {
  position: absolute;
  bottom: 10px;
}

#timeControl {
  position: absolute;
  bottom: 5px;
  left: 50%;
}